In [1]:
import pandas as pd

In [30]:
encodings=['utf-8','latin1','iso-8859-1']
for encoding in encodings:
    try:
        df = pd.read_csv(r"",encoding=encoding)
        print(f'successful')
        break
    except UnicodeDecodeError:
        print(f'failed')

failed
successful

In [31]:
df.head()

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Angola,6.639,6.214,6.214,6.476,6.864,8.457,7.918,9.050,9.818,...,116.194,101.124,122.022,101.353,84.516,57.139,74.861,122.826,94.381,92.123
1,Benin,2.302,1.557,1.542,1.365,1.456,1.580,2.036,2.430,2.552,...,11.389,11.818,12.697,14.257,14.392,15.674,17.699,17.439,19.398,21.371
2,Botswana,1.174,1.037,1.094,1.208,1.200,1.117,1.515,2.374,3.082,...,13.531,15.083,16.105,17.032,16.696,14.930,18.737,20.352,20.445,21.418
3,Burkina Faso,2.386,2.076,1.934,1.767,1.579,1.746,2.290,2.665,2.942,...,11.833,12.829,14.094,15.916,16.031,17.754,19.654,18.906,20.382,21.902
4,Burundi,0.951,0.989,1.045,1.106,1.005,1.170,1.233,1.161,1.088,...,3.104,2.960,3.172,3.037,3.012,3.086,3.351,3.917,4.216,3.075

In [34]:
df_melted = pd.melt(df, id_vars = ['Country'], var_name = 'Year', value_name = 'GDP(B)')

In [37]:
df_melted.head(50)

                             Country  Year  GDP(B)
0                             Angola  1980   6.639
1                              Benin  1980   2.302
2                           Botswana  1980   1.174
3                       Burkina Faso  1980   2.386
4                            Burundi  1980   0.951
5                         Cabo Verde  1980   0.157
6                           Cameroon  1980   8.850
7           Central African Republic  1980   0.714
8                               Chad  1980   1.006
9                            Comoros  1980   0.242
10  Democratic Republic of the Congo  1980  68.606
11                 Republic of Congo  1980   2.165
12                     Côte d'Ivoire  1980  13.877
13                 Equatorial Guinea  1980   0.032
14                           Eritrea  1980   0.000
15                          Eswatini  1980   0.754
16                          Ethiopia  1980   7.385
17                             Gabon  1980   4.559
18                        The Gambia  1980   0.606
19                             Ghana  1980  37.350
20                            Guinea  1980   2.400
21                     Guinea-Bissau  1980   0.289
22                             Kenya  1980  13.449
23                           Lesotho  1980   0.428
24                           Liberia  1980   0.000
25                        Madagascar  1980   5.202
26                            Malawi  1980   3.022
27                              Mali  1980   2.031
28                         Mauritius  1980   1.242
29                        Mozambique  1980   4.615
30                           Namibia  1980   0.000
31                             Niger  1980   3.531
32                           Nigeria  1980   0.000
33                            Rwanda  1980   1.493
34             São Tomé and Príncipe  1980   0.069
35                           Senegal  1980   4.338
36                        Seychelles  1980   0.147
37                      Sierra Leone  1980   1.701
38                      South Africa  1980  89.412
39                       South Sudan  1980   0.000
40                          Tanzania  1980  10.873
41                              Togo  1980   1.994
42                            Uganda  1980   7.486
43                            Zambia  1980   4.246
44                          Zimbabwe  1980   0.000
45                            Angola  1981   6.214
46                             Benin  1981   1.557
47                          Botswana  1981   1.037
48                      Burkina Faso  1981   2.076
49                           Burundi  1981   0.989

In [38]:
df_melted.to_csv('GDP(B).csv',index=False)