In [1]:
import pandas as pd

In [9]:
encodings=['utf-8','latin1','iso-8859-1']
for encoding in encodings:
    try:
        df = pd.read_csv(r"",encoding=encoding)
        print(f'successful')
        break
    except UnicodeDecodeError:
        print(f'failed')

failed
successful

In [11]:
df.head()

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Angola,8.272,8.495,8.720,8.948,9.185,10.350,10.646,10.918,11.214,...,28.128,29.155,30.209,31.274,32.354,33.428,34.504,35.711,36.783,37.886
1,Benin,3.750,3.880,3.999,4.129,4.259,4.400,4.541,4.682,4.833,...,10.933,11.260,11.597,11.941,12.290,12.643,12.997,13.366,13.745,14.132
2,Botswana,0.963,0.981,1.017,1.055,1.093,1.134,1.176,1.219,1.263,...,2.305,2.352,2.402,2.451,2.500,2.546,2.588,2.630,2.675,2.720
3,Burkina Faso,7.045,7.212,7.391,7.580,7.776,7.979,8.208,8.435,8.664,...,18.718,19.275,19.836,20.393,20.952,21.540,22.145,22.766,23.405,24.062
4,Burundi,4.090,4.210,4.334,4.461,4.591,4.726,4.864,5.007,5.154,...,10.204,10.530,10.867,11.193,11.529,11.875,12.231,12.598,12.976,13.365

In [12]:
df_melted = pd.melt(df, id_vars = ['Country'], var_name = 'Year', value_name = 'Population(M)')

In [13]:
df_melted.head(50)

                             Country  Year  Population(M)
0                             Angola  1980          8.272
1                              Benin  1980          3.750
2                           Botswana  1980          0.963
3                       Burkina Faso  1980          7.045
4                            Burundi  1980          4.090
5                         Cabo Verde  1980          0.289
6                           Cameroon  1980          8.808
7           Central African Republic  1980          2.279
8                               Chad  1980          4.514
9                            Comoros  1980          0.353
10  Democratic Republic of the Congo  1980         25.124
11                 Republic of Congo  1980          1.707
12                     CÃ´te d'Ivoire  1980          7.864
13                 Equatorial Guinea  1980          0.255
14                           Eritrea  1980          0.000
15                          Eswatini  1980          0.567
16                          Ethiopia  1980         32.444
17                             Gabon  1980          0.748
18                        The Gambia  1980          0.601
19                             Ghana  1980         10.704
20                            Guinea  1980          0.000
21                     Guinea-Bissau  1980          0.782
22                             Kenya  1980         15.721
23                           Lesotho  1980          1.281
24                           Liberia  1980          0.000
25                        Madagascar  1980          8.679
26                            Malawi  1980          6.564
27                              Mali  1980          7.373
28                         Mauritius  1980          0.966
29                        Mozambique  1980         11.630
30                           Namibia  1980          0.000
31                             Niger  1980          5.794
32                           Nigeria  1980         73.424
33                            Rwanda  1980          5.101
34             SÃ£o TomÃ© and PrÃ­ncipe  1980          0.089
35                           Senegal  1980          5.648
36                        Seychelles  1980          0.063
37                      Sierra Leone  1980          3.547
38                      South Africa  1980         29.080
39                       South Sudan  1980          0.000
40                          Tanzania  1980         18.034
41                              Togo  1980          2.822
42                            Uganda  1980         11.264
43                            Zambia  1980          5.551
44                          Zimbabwe  1980          7.092
45                            Angola  1981          8.495
46                             Benin  1981          3.880
47                          Botswana  1981          0.981
48                      Burkina Faso  1981          7.212
49                           Burundi  1981          4.210

In [23]:
df_melted.to_csv('Population(M).csv',index=False)